
    
    <div style="background-image:url({{ entry.heroImage.first().getUrl('heroImage') }});" class="row expanded hero" aria-label="{{entry.title}} Hero Image">
        <h1 class="hero-title">{{entry.heroImageTitle}}</h1>
    </div>
    
    <div class="blog-title row">
        <div class="columns small-8 small-offset-2 medium-6 medium-offset-3">
            {{entry.body}}
        </div>
    </div>
    
    {% for entry in craft.entries.section('ministry').level('not 1') %}

    <div class="ministry-section row" >
         <div class="text-center about-img small-12 medium-4 medium-offset-1 large-3 large-offset-2 columns">
            <img src="{{ entry.heroImage.first().getUrl('entryThumb') }}" alt="ministry">
        </div>
        <div class="about-copy text-center small-12 medium-6 large-5 large-pull-1 columns">
            <h4 class="text-center">{{ entry.title }}</h4>
            <p>We are committed to fulfilling Christ's purpose in our community while investing in others.</p>
            <a href="{{ entry.url }}" class="button">LEARN MORE</a>
        </div>
    </div>

    {% endfor %}
    

    