  {% extends "_layout" %}

  {% block content %}
   
   <div style="background-image:url({{ entry.heroImage.first().getUrl('heroImage') }});" class="row expanded hero" aria-label="{{entry.title}} Hero Image">
    </div>
    <div class="row">
    <a href="/events"><i class="backLink fas fa-caret-left"></i><span class="backLink">BACK</span></a>
    </div>
    
    <div class="event row" >
        <div class="large-6 large-offset-3 medium-10 medium-offset-1 small-offset-1 small-10 columns">
        
                    <h1 class="text-center">{{ entry.title }}</h1>
                    <span class="event-date">{{ entry.eventDateTime | date("F d, Y")}}</span>
                    <span class="event-time">{{ entry.eventDateTime | date('h:i a') }}</span>          
                    {{ entry.eventSnippet }}
                    <h4>Location</h4>
            {{ entry.eventLocation | replace({'\n':'<br>'}) | raw }}
                    <h4>More Details</h4>
                    {{ entry.eventDetails }}
                </div>
           </div>
    {% endblock %}
