{% extends "_layout" %}

{% block content %}
      <div style="background-image:url({{ entry.heroImage.first().getUrl('heroImage') }});" class="row expanded hero" aria-label="{{entry.title}} Hero Image">
        <h1 class="hero-title">{{entry.heroImageTitle}}</h1>
    </div>
    
     <div class="events-title row">
        <div class="columns small-8 small-offset-2 medium-6 medium-offset-3">
            {{entry.body}}
        </div>
    </div> 
   
          {% set entries = craft.entries.section('eventsEntries').order('eventDateTime asc') %}
           
            {% for entry in entries %} 
    
    <div class="events-entry-archive row" >
         <div class="text-center events-thumb small-10 small-offset-1 medium-3 medium-offset-2 large-2 large-offset-3 columns">
             <a href="{{ entry.getUrl() }}" > <img src="{{ entry.heroImage.first().getUrl('entryThumb') }}" alt="{{entry.title}}"></a>
        </div>
        <div class="events-archive-text text-center small-12 medium-6 medium-pull-1 large-5 large-pull-2 columns">
            <a href="{{ entry.getUrl() }}" ><h4 class="text-center events-archive-title">{{ entry.title }}</h4></a>
            <p class="events-archive-meta"><span class="events-location">{{entry.eventLocation |split('\n')|first}}</span> | {{ entry.eventDateTime | date("F d, Y")}}</p>
            <p>{{ entry.eventSnippet|striptags|slice(0,100)}}...</p><a href="{{ entry.getUrl() }}" class="read-more">LEARN MORE</a>
        </div>
    </div>
    
    {% endfor %}
{% endblock %}