  {% extends "_layout" %}

  {% block content %}
   
   <div style="background-image:url({{ craft.entries.section('testimoniesIndex').first().heroImage.first().getUrl('heroImage') }});" class="row expanded hero" aria-label="{{entry.title}} Hero Image">
        <h1 class="hero-title">{{entry.heroImageTitle}}</h1>
    </div>
    
  
    
        <div class="row collapse expanded">
        <div id="about_menu" class="menu-centered medium-12 about-menu show-for-medium columns">
            <ul class="menu">
                <li><a href="/about/values-beliefs">VALUES & BELIEFS</a>
                </li>
                <li><a href="/about/leadership">LEADERSHIP</a>
                </li>
                <li class="current-page-sub"><a href="/testimonies">TESTIMONIES</a>
                </li>
            </ul>
            </div>
        </div>
    
    <div class="testimonies-section row" >
        <div class="large-6 large-offset-3 medium-10 medium-offset-1 small-offset-1 small-10 columns">
    
                    <h4 class="text-center">{{ entry.title }}</h4>
                    <h5 class="text-center">{{ entry.postDate | date("F d, Y")}}</h5>
                    <center>
                    <img src="{{ entry.testimonyImages.first().getUrl('testimonyImage') }}" alt="{{ entry.title }}">
                    </center>
                    {{ entry.body }}
                    <p  class="bottom-back-link text-center"><a href="/testimonies">BACK TO TESTIMONIES</a></p>
                </div>
           </div>
    {% endblock %}
