
    
{% extends "_layout" %}

{% block content %}
    <div style="background-image:url({{ entry.heroImage.first().getUrl('heroImage') }});" class="row expanded hero" aria-label="{{entry.title}} Hero Image">
        <h1 class="hero-title">{{entry.heroImageTitle}}</h1>
    </div>
    
        <div class="row collapse expanded">
        <div id="about_menu" class="menu-centered medium-12 about-menu show-for-medium columns">
            <ul class="menu">
                <li><a href="/about/values-beliefs">VALUES & BELIEFS</a>
                </li>
                <li><a href="/about/leadership">LEADERSHIP</a>
                </li>
                <li class="current-page-sub"><a href="#0">TESTIMONIES</a>
                </li>
            </ul>
            </div>
        </div>
    
    <div class="testimonies-section row small-up-1 medium-up-2" >
        
            {% set entries = craft.entries.section('testimoniesEntries') %}
           
            {% for entry in entries %}
        
            <div class="column column-block small-10 medium-4 text-center">
                <div class="card">
                <div class="card-section">
                    <h4><a href="{{ entry.getUrl }}" >{{ entry.title }}</a></h4>
                    <h5>{{ entry.postDate | date("F d, Y")}}</h5>
                    {{ entry.body|striptags|slice(0,100)}}...<br>
                    <a href="{{ entry.Url }}">READ MORE</a>
                </div>
                </div>
            </div>
          
     
       <!-- <div class="text-center large-4 large-pull-2 medium-5  medium-pull-1 small-pull-1 small-10 columns">
            <div class="card">
                <div class="card-section">
                    <h4>Healed Migraines</h4>
                    <h5>June 25, 2017</h5>
                    <p></p>
                    <a href="/testimony-6-25-17.html">READ MORE</a>
                </div>
            </div>
        </div> -->
        {% endfor %}
    </div>

     

    {% endblock %}