
    
    <div style="background-image:url({{ entry.heroImage.first().getUrl('heroImage') }});" class="row expanded hero" aria-label="{{entry.title}} Hero Image">
        <h1 class="hero-title">{{entry.heroImageTitle}}</h1>
    </div>
    
        <div class="row collapse expanded">
        <div id="about_menu" class="menu-centered medium-12 about-menu show-for-medium columns">
            <ul class="menu">
                <li><a href="/about/values-beliefs">VALUES & BELIEFS</a>
                </li>
                <li><a href="/about/leadership">LEADERSHIP</a>
                </li>
                <li><a href="/testimonies">TESTIMONIES</a>
                </li>
            </ul>
            </div>
        </div>
    
    {% for entry in craft.entries.section('about').level('not 1') %}

    <div class="about-section row" >
         <div class="text-center about-img small-12 medium-4 medium-offset-1 large-3 large-offset-2 columns">
            <img src="{{ entry.heroImage.first().getUrl('entryThumb') }}" alt="about ignite">
        </div>
        <div class="about-copy text-center small-12 medium-6 large-5 large-pull-1 columns">
            <h4 class="text-center">{{ entry.title }}</h4>
            <p>We are committed to fulfilling Christ's purpose in our community while investing in others.</p>
            <a href="{{ entry.url }}" class="button">LEARN MORE</a>
        </div>
    </div>

    {% endfor %}
    
    {% set entry = craft.entries.section('testimoniesIndex').first() %}
    <div class="about-section row" >
         <div class="text-center about-img small-12 medium-4 medium-offset-1 large-3 large-offset-2 columns">
            <img src="{{entry.heroImage.first().getUrl('entryThumb')}}" alt="about ignite">
        </div>
        <div class="about-copy text-center small-12 medium-6 large-5 large-pull-1 columns">
            <h4 class="text-center">TESTIMONIES</h4>
            <p>We are committed to fulfilling Christ's purpose in our community while investing in others.</p>
            <a href="/testimonies" class="button">LEARN MORE</a>
        </div>
    </div>
    
    