 <div style="background-image:url({{ entry.heroImage.first().getUrl('heroImage') }});" class="row expanded hero" aria-label="{{entry.title}} Hero Image">
        <h1 class="hero-title">{{entry.heroImageTitle}}</h1>
    </div>
    
        <div class="row collapse expanded">
        <div id="about_menu" class="menu-centered medium-12 about-menu show-for-medium columns">
            <ul class="menu">
                <li><a href="/about/values-beliefs">VALUES & BELIEFS</a>
                </li>
                <li class="current-page-sub"><a>LEADERSHIP</a>
                </li>
                <li><a href="/testimonies">TESTIMONIES</a>
                </li>
            </ul>
            </div>
        </div>
    
    {% for block in entry.staffDetails	 %}

    {% if block.type == 'newStaffPerson' %}

    <div class="leadership-section row" >
         <div class="text-center about-img small-10 small-offset-1 medium-4 medium-offset-1 large-3 large-offset-2 columns">
            <img class="thumbnail" id="john-pic" src="{{ block.picture.first().getUrl('staffThumb') }}" alt="{{ block.staffName }}">
        </div>
        <div class="leadership-copy-john text-center small-10 small-pull-1 medium-6 large-5 large-pull-1 columns">
            <h4 class="text-center">{{ block.staffName }}</h4>
            <h5>{{ block.staffTitle }}</h5>
            {{ block.bio }}
        </div>
    </div>
    
    {% endif %}

    {% endfor %}