 <div style="background-image:url({{ entry.heroImage.first().getUrl('heroImage') }});" class="row expanded hero" aria-label="{{entry.title}} Hero Image">
        <h1 class="hero-title">{{entry.heroImageTitle}}</h1>
    </div>
    
        <div class="row collapse expanded">
        <div id="about_menu" class="menu-centered medium-12 about-menu show-for-medium columns">
            <ul class="menu">
                <li class="current-page-sub"><a>VALUES & BELIEFS</a>
                </li>
                <li><a href="/about/leadership">LEADERSHIP</a>
                </li>
                <li><a href="/testimonies">TESTIMONIES</a>
                </li>
            </ul>
            </div>
        </div>

{% for block in entry.valuesBeliefsContent	 %}

{% if block.type == 'vbSection' %}
<div class="row vision-row">
        <div class="small-12 medium-6 medium-offset-3 columns">
            <h4 class="text-center">{{ block.sectionTitle }}</h4>            
            {{ block.sectionContent }}
        </div>
     <hr>
    </div>

{% endif %}

{% endfor %}
