    {% extends "_layout" %}
    {% block content %}
     <div style="background-image:url({{ entry.heroImage.first().getUrl('heroImage') }});" class="row expanded hero" aria-label="{{entry.title}} Hero Image">
        <h1 class="hero-title">{{entry.heroImageTitle}}</h1>
    </div>
    
    <div class="row contact">
         <p class="contact-body text-center">{{entry.body}}</p>
        <div class="large-4 large-offset-0 medium-10 medium-offset-1 small-12 columns text-center">
            <h5>PHONE:</h5>
            <p>{{entry.mainPhone}}</p>
        </div>
        <div class="large-4 large-offset-0 medium-10 medium-offset-1 small-12 columns text-center">
            <h5>LOCATION:</h5>
            <p >{{contactInfoServiceTimes.streetAddress}}<br/>
            {{contactInfoServiceTimes.cityStateZip}}</p>
              <a  class="button" target="_blank" href="{{contactInfoServiceTimes.linkForDirections}}">GET DIRECTIONS</a>
        </div>
        <div class="large-4 large-offset-0 medium-10 medium-offset-1 small-12 columns text-center end">
            <h5>SERVICE TIMES:</h5>
             <ul id="contact-servicetimes" class="no-bullet">
            {% for day in contactInfoServiceTimes.serviceTimes %}
            <li>{{day.dayOfTheWeek}} {{day.times}}</li>
            {% endfor %}
            </ul>
        </div>
    
    </div>
    
    {% endblock %}
    
   
 