{% extends "_layout" %}
   
   {% block content %}
    
     <div style="background-image:url({{ entry.blogPostFeaturedImage.first().getUrl('heroImage') }});" class="row expanded blog hero" aria-label="{{entry.title}} Hero Image">
        <h1 class="hero-title">{{entry.title}}</h1>
        <span class="hero-meta">{{entry.author.fullName}} | {{entry.postDate | date("F d, Y")}}</span>
    </div>
    
    <div class="mobile-hero hide-for-medium">
        <img src="{{ entry.blogPostFeaturedImage.first().getUrl('heroImage') }}" alt="{{ entry.title }}">
    </div>
    
     <div class="blog-post-content row">
        <div class="columns small-10 small-offset-1 medium-10 medium-offset-1 large-6 large-offset-3">
            {{ entry.blogContent }}
        </div>
    </div> 
    
 {% endblock %}