{% extends "_layout" %}

{% block content %}
      <div style="background-image:url({{ entry.heroImage.first().getUrl('heroImage') }});" class="row expanded hero" aria-label="{{entry.title}} Hero Image">
        <h1 class="hero-title">{{entry.heroImageTitle}}</h1>
    </div>
    
     <div class="blog-title row">
        <div class="columns small-8 small-offset-2 medium-6 medium-offset-3">
            <h4 class="text-center">LATEST POSTS</h4>
            {{entry.body}}
        </div>
    </div> 
   
          {% set entries = craft.entries.section('blogEntries') %}
           
            {% for entry in entries %} 
    
    <div class="blog-post-archive row" >
         <div class="text-center blog-thumb small-10 small-offset-1 medium-3 medium-offset-2 large-2 large-offset-3 columns">
             <a href="{{ entry.getUrl() }}" > <img src="{{ entry.blogPostFeaturedImage.first().getUrl('entryThumb') }}" alt="{{entry.title}}"></a>
        </div>
        <div class="blog-archive-text text-center small-12 medium-6 medium-pull-1 large-5 large-pull-2 columns">
            <a href="{{ entry.getUrl() }}" ><h5 class="text-center blog-archive-title">{{ entry.title }}</h5></a>
            <p class="blog-archive-meta"><span class="post-author">{{entry.author.fullName}}</span> | {{ entry.postDate | date("F d, Y")}}</p>
           <p>{{ entry.blogContent|striptags|slice(0,100)}}...</p><a href="{{ entry.getUrl() }}" class="read-more">READ MORE</a>
        </div>
    </div>
    
    {% endfor %}
{% endblock %}