{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ignite Church | Impact, Invest, Inspire</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <script src="https://use.typekit.net/heh1aip.js"></script>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://use.typekit.net/heh1aip.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
        
        <div class="off-canvas position-right" id="offCanvas" data-off-canvas data-transition="overlap">
      
        <ul class="vertical menu float-right text-right">
          <li><a href="/">HOME</a></li>
          <li><a href="/about">WHO WE ARE</a></li>
              <ul class="menu sub-menu vertical">
                  <li><a href="/about/values-beliefs">VALUES & BELIEFS</a></li>
                  <li><a href="/about/leadership">LEADERSHIP</a></li>
                  <li><a href="/testimonies">TESTIMONIES</a></li>
              </ul>
          <li><a href="/ministry">MINISTRY</a></li>
          <li><a href="/events">EVENTS</a></li>
          <li><a target="_blank" href="https://www.paypal.me/ignitechurchob">GIVE</a></li>
          <li><a  href="/blog">BLOG</a></li>
          <li><a href="/contact">CONTACT</a></li>
          <li><a href="https://www.facebook.com/Ignitechurchob/"><img src="images/fb-icon.jpg"></a></li>
        </ul>
   
    </div>
    
    <div class="row header" id="header">
        <div id="header-logo" class="small-7 medium-3 large-2 small-offset-3 medium-offset-4 large-offset-0 columns">
        <a href="/">  
        <img class="logo" width="75%" src="{{contactInfoServiceTimes.logo.first().getUrl()}}" alt="Ignite Logo">
            </a> 
        </div>
        <div class="title-bar" >
            <button class="menu-icon" type="button" data-toggle="offCanvas">
                <img src="/images/menu-icon3.svg">
            </button>
            
        </div>
    </div>
    
    <div class="off-canvas-content" data-off-canvas-content>
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		
 <div class="row expanded footer">
        <div class="small-10 small-offset-1 large-2 medium-4 medium-offset-1 large-offset-3  columns">
            <h5 >SITE MAP</h5>
            <ul class="sitemap">
                <li><a href="/about.html"> WHO WE ARE</a></li>
                <ul>
                    <li><a href="/values-beliefs">VALUES & BELIEFS</a></li>
                    <li><a href="/leadership">LEADERSHIP</a></li>
                    <li><a href="/testimonies">TESTIMONIES</a></li>
                </ul>
                <li><a href="/ministry">MINISTRY</a></li>
                <li><a target="_blank" href="https://www.paypal.me/ignitechurchob">GIVE</a></li>
                <li><a  href="/blog">BLOG</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
            
        </div>
        <div class="small-10 large-2 large-offset-3 small-offset-1 medium-4 medium-pull-1 columns end">
            <div class="footer-service-times">
            <h5>SERVICE TIMES</h5>
            <p>
            {% for day in contactInfoServiceTimes.serviceTimes %}
            {{day.dayOfTheWeek}} {{day.times}}
            <br>
            {% endfor %}
            </p>
            </div>
            <div class="footer-directions">
            <h5>DIRECTIONS</h5>
            <p>{{contactInfoServiceTimes.streetAddress}}<br/>
                {{contactInfoServiceTimes.cityStateZip}}</p>
            <a  target="_blank" href="{{contactInfoServiceTimes.linkForDirections}}">VIEW MAP</a>
                </div>
        </div>
         
    </div>
    
    </div> <!-- off canvas content --> 
    <script src="/js/app.js"></script>
  </body>
</html>
