
{% extends "_layout" %}

{% block content %}
    <div class="orbit show-for-medium" role="region" aria-label="Ignite Slides" data-orbit>
      <ul class="orbit-container">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        <li class="is-active orbit-slide">
          <img class="orbit-image" src="img/orbit/impact.jpg" alt="impact">
        </li>
           <li class="is-active orbit-slide">
          <img class="orbit-image" src="img/orbit/invest.jpg" alt="invest">
        </li>
           <li class="is-active orbit-slide">
          <img class="orbit-image" src="img/orbit/inspire.jpg" alt="inspire">
        </li>
      </ul>
      
    </div>
    
    <div class="mobile-hero hide-for-medium">
        <img src="img/home/hero-mobile.jpg" alt="Ignite Small Banner">
    </div>
    
      
    <div class="home-feature-section row">
        <div class="home-service-times small-10 small-offset-1 large-4 medium-offset-1 medium-5 large-offset-1 columns">
            <h4>SERVICE TIMES</h4>
            <ul>
            {% for day in contactInfoServiceTimes.serviceTimes %}
            <li>{{day.dayOfTheWeek}} {{day.times}}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="home-directions small-10 small-offset-1  large-4 medium-offset-0 medium-5 large-offset-2 columns end">
            <h4>DIRECTIONS</h4>
            <p id="home-address">{{contactInfoServiceTimes.streetAddress}}<br/>
            {{contactInfoServiceTimes.cityStateZip}}</p>
            <a class="read-more" target="_blank" href="{{contactInfoServiceTimes.linkForDirections}}">VIEW MAP</a>
        </div>
    </div>
    <!--
    <hr>
    
    <div class="row home-events">
        <h4 class="text-center">EVENTS</h4>
        <div class="small=8 large-3 text-center columns">
            <img src="img/events/event_thumb1.jpg">
            <p>Sundays<br/>
            10am</p>
        </div>
        <div class="small=8 large-3 text-center columns">
            <img src="img/events/event_thumb1.jpg">
            <p>Sundays<br/>
            10am</p>
        </div>
        <div class="small=8 large-3 text-center columns">
            <img src="img/events/event_thumb1.jpg">
            <p>Sundays<br/>
            10am</p>
        </div>
        <div class="small=8 large-3 text-center columns">
            <img src="img/events/event_thumb1.jpg">
            <p>Sundays<br/>
            10am</p>
        </div>
    </div>
    -->
    <hr>
    
    <div class="row home-social">
        <h4 class="text-center">FOLLOW US</h4>
        <div class="social small-12 text-center columns">
            <a href="https://www.facebook.com/Ignitechurchob/"><img src="img/home/fb-icon.jpg"></a>
        </div>
        
    </div>
    
{% endblock %}
    
   